<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{{account.name}}{% endblock %}</title>
</head>

<body>
  
  <div id="accountinfoform">
    {% include "djangoinsurancerater/accountinfoform.html" %}  
    <div id="newquotebutton" class="button">
      <a href="{% url 'djangoinsurancerater:quote-create-view' pk=accountinfoform.instance.id %}">New Quote</a>
    </div>
  </div>

  <div id="recentquotes">
    <h1>
      Recent Quotes
    </h1>
    {% include "djangoinsurancerater/recentquotes.html" %}
  </div>
  
</body>  
  
</html>