{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p}}
    {% if form.has_changed %} 
    <input type="submit" value="Update" />
    {% else %}
    <input type="submit" value="Submit" />
    {% endif %}
</form>
<ul class="quoteslist">
 {% for quote in form.instance.quotes.all %}
  <li><a href="{% url 'djangoinsurancerater:quote-detail' pk=quote.account_info.id quoteid=quote.id %}">{{ quote.created_time }}</a></li>
 {% endfor %}
</ul>