{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href={% static "djangoinsurancerater/bootstrapstyle.css" %} />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <title>{% block title %}Crime Rater 2016{% endblock %}</title>
</head>

<body>
  <div class="container">
    
    <div class="row header">
      
      <div class="col-md-12">      
        <h3 class="text-center">
          Search for an Account or Create New
        </h3>
      </div>
      
    </div>
    
    <div class="row" id="firstrow">
      
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">        
      
        <div class="accountinfoform">
          <form action="" method="post" id=accountinfoform>
            {% include "djangoinsurancerater/accountinfoform.html" %}
          <button class="btn btn-primary" type="submit" form="accountinfoform">{% if accountinfoform.instance.id %} Update {% else %} Create {% endif %}</button>
          </form>
        </div>
      
      </div>
      
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <form id="searchform" action="{% url 'djangoinsurancerater:account-search-list-view' %}" method="get" accept-charset="utf-8">
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-primary" form="searchform" type="submit">Search</button>
                </span>
              <input class="form-control" id="searchbox" name="q" type="text" placeholder="Search">
              </div>
            </form>
      </div>
      
    </div>
      
      <div class="row" id="recentaccountsrow">
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="recentaccounts">
          <h2>
            Recent Accounts
          </h2>          
            {% include "djangoinsurancerater/recentaccounts.html" %}   
        </div>
        
      </div>
      
  </div>
 
</body>  
  
</html>