<style>
  
  .agreements li {
    display: inline;
  }

</style>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="" method="post">
  {% csrf_token %}
  {{ accountinfoform.as_p }}
  {{ riskdataform.as_p }}
  {{ classcodeform.as_p }}
  {{ insuringagreementforms.management_form }}
  
  {% for form in insuringagreementforms %}
    <ul class="agreements">
     <li><strong>{{ form.instance.agreement_type }}:</strong></li>
     <li>{{ form.insurance_limit.label_tag }}</li>
     <li>{{ form.insurance_limit }}</li>
     <li>{{ form.deductible.label_tag }}</li>
     <li>{{ form.deductible }}</li>
     <li>{{ form.premium.label_tag }}</li>
     <li>{{ form.premium }}</li>
    </ul>  
  {% endfor %}
  
    {% if form.has_changed %} 
    <input type="submit" value="Update" />
    {% else %}
    <input type="submit" value="Submit" />
    {% endif %}
</form>
