{% load static %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href={% static "djangoinsurancerater/bootstrapstyle.css" %} />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src={% static "djangoinsurancerater/scripts.js" %}></script>
    <title>{% block title %}{{accountinfoform.instance.name}}{% endblock %}</title>
</head>

<body>
  <div class="container">
    
    <div class="row header">
      
      <div class="col-lg-12">        
        <h3>
          Quote Your Account: {{accountinfoform.instance.name}}
        </h3>
      </div>
      
    </div>
    
    
    <div class="row mediummarginbottom">
     <form action="" method="post" id="accountinfoform" class="accountinfoform">  
                 {% csrf_token %}
          <div class="col-md-6 col-lg-6">        
              {% include "djangoinsurancerater/accountinfoform.html" %}      
          </div>
      
          <div class="col-md-6 col-lg-6 riskdatagroup">
              {% csrf_token %}
            <div class="form-group">
                {{ riskdataform.employee_count.errors }}
                {{ riskdataform.employee_count.label_tag }}
                {{ riskdataform.employee_count }}
                {% if riskdataform.employee_count.help_text %}
                <p class="help">
                  {{ riskdataform.employee_count.help_text|safe }}
                </p>
                {% endif %}      
            </div>
            <div class="form-group">
                {{ riskdataform.rateable_count.errors }}
                {{ riskdataform.rateable_count.label_tag }}
                {{ riskdataform.rateable_count }}
                {% if riskdataform.rateable_count.help_text %}
                <p class="help">
                  {{ riskdataform.rateable_count.help_text|safe }}
                </p>
                {% endif %}      
            </div>
            <div class="form-group">
                {{ riskdataform.locations.errors }}
                {{ riskdataform.locations.label_tag }}
                {{ riskdataform.locations }}
                {% if riskdataform.locations.help_text %}
                <p class="help">
                  {{ riskdataform.locations.help_text|safe }}
                </p>
                {% endif %}      
            </div>
            <div class="form-group">
                {{ classcodeform.class_code.errors }}
                {{ classcodeform.class_code.label_tag }}
                {{ classcodeform.class_code }}
                {% if classcodeform.class_code.help_text %}
                <p class="help">
                  {{ classcodeform.class_code.help_text|safe }}
                </p>
                {% endif %}      
            </div>
              
      </div>
          
        
      </form> 
    </div>
    
      
    <div class="row">
      
    </div>
    
    <div class="row hidden-sm hidden-xs">
      <div class="col-md-3">
        <h4>
          Agreement Type
        </h4>
      </div>
      <div class="col-md-3">
        <h4>
          Limit
        </h4>
      </div>
      <div class="col-md-3">
        <h4>
          Deductible
        </h4>
      </div>
      <div class="col-md-3">
        <h4>
          Premium
        </h4>
      </div>
    </div>
    

    {% for insuringagreementform in insuringagreementforms %}
    <div class="row insuringagreementrow">
      <form action="" method="post">
        {% csrf_token %}
        {{ insuringagreementforms.management_form }}
      <div class="col-md-3">               
          <div class="form-group">
            {{ insuringagreementform.id.as_hidden }}
            {{ insuringagreementform.instance.agreement_type }}:
            {{ insuringagreementform.agreement_type.as_hidden }}
          </div>
        
      </div>
      <div class="col-md-3">
        <div class="form-group currency">
          {{ insuringagreementform.insurance_limit }}
        </div>        
      </div>
      <div class="col-md-3">
        <div class="form-group currency">
          {{ insuringagreementform.deductible }}
        </div>        
      </div>
      <div class="col-md-3">
        <div class="form-group">
          ${{ insuringagreementform.instance.premium }}
          {{ insuringagreementform.premium.as_hidden }}
        </div>        
      </div>
        <button type="submit" class="btn btn-primary" value="submit">
          TEST
        </button>
     </form>   
    </div>
      
      {% endfor %} 
        <button type="submit" class="btn btn-primary" value="submit" form="accountinfoform">
            {% if form.has_changed %}
            Update
            {% else %}
            Create
            {% endif%}
        </button>  
      
          
               

      
        
    </div>
    
</body>
